<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account | {{title}}</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/account.css">
    <link rel="stylesheet" href="/static/css/footer.css">

</head>
<body>
    

    {% include "header.html" %}

    <div class="content">
        <h1 id="welcome-msg">hey, {{user_name}} 😄</h1>
        <button onclick="location.href= '/my-orders'">View Orders</button>
        <h3 id="logout-label"> not {{user_name}}? </h3>
        <button id="logout-btn" onclick="location.href= 'logout' ">Log Out</button>

    </div>

    
    {% include "footer.html" %}


</body>
</html>