<div class="footer">
    
    <div class="footer-child">

        <h2 class="footer-child-label">connect with us</h2>
        <div class="footer-child-content">
            <img src="/static/icons/fb-icon.svg" alt="">
            <img src="/static/icons/insta-icon.svg" alt="">
            <img src="/static/icons/twitter-icon.svg" alt="">
            <img src="/static/icons/yt-icon.svg" alt="">
        </div>

    </div>

    <div class="footer-child">

        <h2 class="footer-child-label">contact us</h2>
        <div class="footer-child-content" id="footer-contact">
            <a href="mailto:connect@hfnutrition.com"><h3 class="footer-contact-value">connect@hfnutrition.com</h3></a>
            <a href="tel:+919887151850"><h3 class="footer-contact-value">+91-9883213210</h3></a>
        </div>

    </div>

    <div class="footer-child">
        <h4 class="copyright-text">&#169; Copyright 2023 all rights reserved<br>healthify nutrition</h4>
    </div>

</div>

